@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poiret+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: "montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
    color: black;
    margin: 0 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

/* Header section */
#header {
    position:fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-bar img{
    border-radius: .8em;
}
#header .nav-bar .nav_num_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#header .nav-bar .nav_num_1 img{
    width: 35px;
    height: 35px;
    margin-right: .8em;
    border-radius: 50%;
}
#header .nav-bar .nav_num_1 .numbers h3{
    color: rgb(20, 220, 56);
}
#header .nav-list ul{

    display: none;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px 20px 10px 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    border: 3px solid rgb(42, 159, 9);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: .2em;
    align-self: flex-end;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 3s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}
#header .nav-list ul .nav_num{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3rem 1em 0 0;
}
#header .nav-list ul .nav_num_img{
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin:1.3em 1.6em .3em 0;
}
#header .nav-list ul h3{
    margin:.4em 1em 0 0;
    font-size: 1.5em;
    color: rgb(156, 210, 30);
}
#header .nav-list ul .number{
    margin:1.1em 1em 0 0;

}
#header .nav-bar .nav_num_2{
display: none;
}

/* End Header section */


/* home section */

#home {
    background-image: url("./Resources/images/Icons/mountain.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    justify-content: flex-start;
}
#home .home h1{
    background-color: rgba(9, 49, 99, 0.5);
}
#home h1 {
    margin: 1rem 0;
    display: block;
    width: auto;
    font-size: 1.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    color: #0fb438;
    padding: .5rem .5rem;
}

#home h1:nth-child(1) {
    animation-delay: 1s;
}

#home h1:nth-child(2) {
    animation-delay: 2s;
}

#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#home h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#home h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#home p {
    color: white;
    font-size: 1rem;
}

#home p:nth-child(1) {
    /* background-color: rgba(6, 84, 126, .5); */
    width: fit-content;
    min-width: fit-content;
    padding: 0 1rem;

}

#home p:nth-child(2) {
    /* background-color: rgba(6, 84, 126, .5); */
    width: fit-content;
    margin-top: 1rem;
    padding: 0 1rem;

}

#home p:nth-child(3) {
    /* background-color: rgba(6, 84, 126, .5); */
    width: fit-content;
    margin-top: 2rem;
    padding: 0 1rem;
}

#home .btn {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color:rgba(146, 107, 65,1);
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 20px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

#home .btn:hover {
    color: white;
    background-color:blue;
}

/* end of home section */

/* tour section */
#tours .tours {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#tours .tours_top {
    /* min-width: 500px;
    max-width: auto; */
    margin: 0 2em;
}
#tours .tours_top p{
    margin: 0 .5em;
    font-size: 1em;
}

#tours .tour_h2{  
    margin: 2em .5em 0em .5em;
    text-align:left;
    font-size: 1.5em;
}
#tours .tours_bottom {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

#tours .tours-item {
    flex-basis: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    height: 30rem;
    max-height: 300rem;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#tours .tours-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.5;
    z-index: -1;
}

.item_h {
    align-self: center;
    margin-bottom: 2rem;
    font-size:2rem;
    padding: .1em .3em;
    color: bisque;
    background-color: rgba(112, 65, 76, 0.5);
    border-radius: .3em;
}

.item_p {
    color: white;
    background-color: rgba(72, 85, 99,.6);
    padding: .2em .3em;
    border-radius: .5em;
}

.deosai {
    background-image: url("./Resources/images/Places/Deosai_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.hunza {
    background-image: url("./Resources/images/Places/hunza.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.attabad {
    background-image: url("./Resources/images/Places/attabad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.upper_kachura{
    background-image: url("./Resources/images/Places/upper_kachura_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.shigar_fort{
    background-image: url("./Resources/images/Places/shigar_fort.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.cold_desert{
    background-image: url("./Resources/images/Places/cold_desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.shangrilla{
    background-image: url("./Resources/images/Places/shangrilla.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    /* background-size: 30rem 30rem; */
}
.chaqchan{
    background-image: url("./Resources/images/Places/chaqchan-mosque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.passu{
    background-image: url("./Resources/images/Places/passu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.astore {
    background-image: url("./Resources/images/Places/nanga-partbat-east-face.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.K2{
    background-image: url("./Resources/images/Places/K2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.balghar{
    background-image: url("./Resources/images/Places/balghar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* end of tour section */

/* Vehicle section */

#vehicles .vehicles{
    flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 0;
}
#vehicles .vehicle_heading{
    margin-bottom: 50px;
    font-size: medium;
    margin-top: 8rem;
}
#vehicles .vehicle_heading p{
    font-size: 1.2em;
}
#vehicles .vehicle_details{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    /* min-width: 100vw; */
    max-width: 100%;
}
#vehicles .vehicle_item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: .3em auto;
	overflow: hidden;
    overflow-y: hidden;
	/* border-radius: 10px; */
    height: 80vh;
}
#vehicles .vehicle_info{
    padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
    width: 95%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#vehicles .vehicle_info h2{
    font-size: 4rem;
	font-weight: 500;
    align-self: center;

}

#vehicles .vehicle_info p{
    color: white;
}
#vehicles .vehicle_img{
    flex-basis: 100%;
	height: 3000px;
	overflow: hidden;
	position: relative;
    width: 95%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius:1em;
}
#vehicles .vehicle_img .vehicle_desk{
    display: none;
}
#vehicles .vehicle_img .vehicle_tab{
    display: none;
}

#vehicles .vehicle_img::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.3;
}

#vehicles .vehicle_img img{
    transition: 0.3s ease transform;
    height: 100%;
    width: 100%;
}

#vehicles .vehicle_item:hover .vehicle_img img{
    transform: scale(1.1);
}
#vehicles .vehicles .vehicle_h2{
    margin: 0em .5em 2.8em .5em;
    text-align:left;
    /* font-size: 1.5em; */
}
/* End Vehicle section */

 /* Contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin:  auto;
	width: 90%;
}
#contact .contact_main {
    width: 100%;
    max-width: 400px;
}
#contact .contact .contact_head{
    margin-top: 5em;
}
#contact .contact_item {
	width: auto;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
    height: auto;
    min-width: 20em;
    max-width: 40em;
}
#contact .contact_item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	/* width: 70px; */
	margin: 0 auto;
	/* margin-bottom: 10px; */
}
#contact .icon img{
    width: 5em;
    height: 5em;
}
#contact .contact_info h1 {
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 30px;
}
#contact .contact_info h2 {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 500;
}
/* End of Contact Section */

/* About Section */

#about .about {
	/* flex-direction: column-reverse; */
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
    /* max-height: 90vh; */
    min-height: 100vh;
    /* min-height: 100; */
}
/* #about .about_left{
    border: 3px solid black;
    width: 20em;
	height: 20em;
    margin-top: 2em;
    display: none;
} */
#about .about_right {
	width: 100%;
}
#about .about_right h1 {
	font-size: 2rem;
    color:#260963 ;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 2em;
}
#about .about_right p {
	margin-bottom: 0em;
    font-size: 1.2rem;
}
#about .about_left .about_img {
    display: none;
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .about_left .about_img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 99%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}

/* End of About Section */

/* Footer Section */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 20vh;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 0em;
    justify-content: center;
    align-items: center;
}
#footer h1{
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    color: chartreuse;
}

#footer .social_icons {
	display: flex;
	margin: 1.5em;
}
#footer .social_icon {
	height: 50px;
	width: 50px;
	margin: 0 15px;
}
#footer .social_icon img {
    height: 4em;
	width: 4em;
	filter: grayscale(0);
	transition: 0.3s ease filter;
    margin-right: 20em;
}
#footer .social_icon:hover img {
	filter: grayscale(1);
}
#footer .foot_p2{
	color: white;
	font-size: .6rem;
    margin-bottom: 0.7rem;
}
#footer .foot_p {
	color: rgb(14, 212, 136);
	font-weight: 500;
	font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.1rem;
	margin-top: 1.5em;
    margin-bottom: 0.7rem;
}
/* End of Footer Section */
/* key frames */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: rgb(196, 228, 145);
    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(128, 235, 21);
        font-weight: 500;
    }
}

/* end of keyframe */

/* Media Querry section */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) and (max-width:1023px){
	.btn {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Home */
	#home h1 {
		font-size: 7rem;
	}
    #home .home{
        height: 100vh;
    }
    #home .home .home_h h1{
        font-size: 5em;
    }
	/* End Home */

	/* Tour Section */
	#tours .tours_bottom .tours-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
    #tours .tours_bottom .tours-item .item_h{
        /* background-color: rgba(88, 41, 190, 0.3); */
    }
    #tours .tours_bottom .tours-item .item_p{
        /* background-color: rgba(72, 85, 99,.5); */
    }
	/* End Tour Section */

	/* vehicle_infoehicle */
    #vehicles .vehicle_details .vehicle_img .vehicle_mob{
        display: none;
    }
    #vehicles .vehicle_details .vehicle_img .vehicle_desk{
        display: none;
    }
    #vehicles .vehicle_img .vehicle_tab{
        display: initial;
    }
    #vehicles .vehicle_details{
        margin: 0 1em;
        /* min-width: 90%; */
    }
	#vehicles .vehicle_item {
		flex-direction: row;
	}
	#vehicles .vehicle_item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#vehicles .vehicle_item {
		height: 50vh;
        width: 100%;
		margin: 1em 0 0 0;
		/* min-width: 50%; */
		border-radius: 1em;
        overflow: hidden;
	}
	#vehicles .vehicle_details .vehicle_info {
		height: 100%;
        width: 30%;
	}
	#projects .vehicle_details .vehicle_info {
		height: 100%;
	}
    #vehicles .vehicle_details .vehicle_img{
        width: 70%;
        flex-basis: 100%;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 1em;
    }
    
    #vehicles .vehicle_img::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        opacity: 0.3;
    }
   
    #vehicles .vehicle_img img{
        transition: 0.3s ease transform;
        height: 100%;
        width: 100%;
    }
    
    #vehicles .vehicle_item:hover .vehicle_img img{
        transform: scale(1.1);
    }

	/* End Vehicle */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .about_left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .about_left .about_img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .about_right {
		text-align: left;
		padding: 30px;
	}
	#about .about_right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
        width: 100%;
        min-height: 50%;
	}
	#contact .contact_main {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact_item {
		min-width: 50%;
        max-width: auto;
		margin: 0;
		/* flex-direction: row; */
        margin-left: 3em;
        margin-top: 5em;
	}
	#contact .contact_item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact_item .icon img {
		object-fit: contain;
        height: 100%;
	}
	#contact .contact_item .contact_info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
    /* about Section  */

    #about .about{
        height: 50vh;
        min-height: 50%;
    }
    #about .about .about_right{
        text-align: center;
    }
    #about .about .about_right h1{
        text-align: center;
        font-weight: 1000;
        color: #d00c68;
    }
    #about .about .about_right p{
        font-size: 1.5em;
    }

    /* End of About Section */
/* Footer Section */
#footer .footer{
    background-color: #158b91;
}
#footer .footer h1{
    color: chartreuse;
    font-size: 2.5em;
}
#footer .footer .foot_p {
    font-size: 1.5em;
    font-weight: 700;
    color:#11baedd7;
    font-family:fantasy
}
#footer .footer .foot_p2{
    font-size: 1.2em;
}
/* End of Footer Section */

}
/* End Media Query For Tablet 

/* media Querry for Dektop */

@media only screen and (min-width: 1024px) {

    /* header */
    #header .hamburger {
        display: none;
    }
    #header .header .nav-bar{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #header .header .nav-bar .nav_logo a img{
        margin-left: 0;
        border-radius: 10%;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.3rem;
    }

    #header .nav-list ul a:after{
        display: none;
    }
    #header .nav-list ul .nav_num{
        margin: 0 0 0 0;
    }
    #header .nav-bar .nav_num_1{
        display: none;
    }
    #header .nav-list ul .nav_num h3{
        /* margin:0; */
        margin:0em 1em 0em 0;
        font-size: 1.1em;
        color: rgb(156, 210, 30);
    }
    #header .nav-list ul .numbers .number_1{
        margin-top: .6em;
    }
    #header .nav-list ul .numbers .number_2{
        margin-top: .5em;
    }
  
    #header .nav-list ul img{
        border-radius: 50%;
        height: 3em;
        width: 3em;
        margin:.8em .8em 0em 0;
    }
    /* nav_bar nav_num */
    #header .nav_num_2{
        display: flex;
        margin: 0 0 0 0;
    }
    #header .nav_num h3{
        /* margin:0; */
        margin:0em 1em 0em 0;
        font-size: 1.1em;
        color: rgb(156, 210, 30);
    }
    #header .nav-num .numbers .number_1{
        margin-top: .6em;
    }
    #header .nav-bar .numbers .number_2{
        margin-top: .5em;
    }
    #header .nav-bar .nav_num_2_img{
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin:0em .3em 0em 0;
    }
    #header .nav-bar .nav-list .nav_num{
        display: none;
    }
    #header .nav-bar .nav_num_2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0em 2rem 0 0;
    }
    #header .nav-bar .nav_num_2 .numbers{
        margin: 0;
        font-size: 1rem;
    }
    #header .nav-bar .nav_num_2 .nav_num_2_img{
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        margin: 0em .3em 0em 0;
    }
    #header .nav-bar .nav_num_2 h3{
        margin: 0%;
        font-size: 1rem;
        color: rgb(156, 210, 30);
    }
    #header .nav-list ul .number{
        margin:1.1em 1em 0 0;
    
    }
    /* End header */

    #home {
        background-image: url("./Resources/images/Icons/camp_large.jpg");
        height: 50%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
    }
    
    #home::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
        z-index: -1;
    }

#home .home_h .desk_head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:5% 0 0 0;

}
#home .home_h  h1{
    font-size: 2rem;
    color: rgb(30, 66, 210);
    width:max-content;
    margin-right: 5rem;
}
#home .home_h {
    margin: auto;
    width: 100%;
}

#home .home_p{
    margin: auto;
    width: fit-content;
    color: white;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    border: 2px solid coral;
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgba(19, 81, 153, 0.4);
}
#home .home_p p{
    font-size: 1.5rem;
}
#home .btn{
    text-decoration: none;
    border: .1rem solid transparent ;
    border-radius: .5rem;
    background-color:rgb(6, 130, 111);
    color: rgb(185, 215, 205);
    padding:auto;
    margin:0 0 0 20rem;
    font-size: 1.2rem;
    width: fit-content;

}
.btn:hover{
    color: chartreuse;
    background-color: #260963;
}
 /* end home section */

/* tour section */

.shangrilla{
    background-image: url("./Resources/images/Places/shangrilla_10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
    #tours .tours_top p{
        min-width: 50%;
        font-size: 1.3em;
    }
    #tours .tours .tour_h2{
        font-size: 1.3em;
        margin-top: 2rem;
    }
    #tours  .tours_bottom .tours-item{
        flex-basis: 40%;
		margin-left:5%;
        height: 80vh;
    }
    #tours  .tours_bottom .tours-item .item_h{
        /* background-color: rgba(7, 104, 102, 0.4); */
        margin-bottom: 5rem;
        font-size: 2em;
    }
    #tours  .tours_bottom .tours-item .item_p{
        font-size: 1.5em;
    }
/* end of tour section */

    /* Vehicle Section */
   #vehicles .vehicles .vehicle_h2{
       font-size: 1.5em;
       justify-self: left;
   }
    #vehicles .vehicle_item{
        flex-direction: row; 
        /* min-width: 100%;        */
    }
    #vehicles .vehicle_item:nth-child(even){
        flex-direction: row-reverse;
    }
    #vehicles .vehicle_item{
        height: 100%;
		margin: 0;
		width: 80%;
		border-radius: 0;
    }
    #vehicles .vehicle_item .vehicle_info p{
        font-size: 2em;
        margin-top: 1em;
    }
    #vehicles .vehicle_details{
        margin-top: 0em;
        height: 100%;

    }
    #vehicles .vehicle_details .vehicle_info{
        height: 70vh;
        margin-top: 2em;
    }
    #vehicles .vehicle_details .vehicle_item .info_left{
        border-top-left-radius: 1em;
        border-bottom-left-radius:1em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: 0em;
    }
    #vehicles .vehicle_details .info_right{
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    #vehicles .vehicle_details .vehicle_img{
        height: 70vh;
        width: 100%;
        margin-top: 2em;
    }
    #vehicles .vehicle_details .vehicle_img img{
        height: 100%;
    }
    #vehicles .vehicle_details .vehicle_item .vehicle_img .vehicle_mob{
        display: none;
    }
    #vehicles .vehicle_details .vehicle_item .vehicle_img .vehicle_tab{
        display: none;

    }
    #vehicles .vehicle_details .vehicle_item .vehicle_img .vehicle_desk{
        display:initial;
    }
    /* #vehicles .vehicle_details .vehicle_item .vehicle_img:nth-child(3){
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    } */
     /* End of Vehicle Section */
    /* Contact section */

    #contact .contact {
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
    justify-content: center;
}
#contact .contact_main {
    width: 100vw;
    max-width: 100vw;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    margin: 0;
}
#contact .contact_main .contact_item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    max-width: 33%;
    margin: 3rem;
    /* flex-direction: row; */
}
#contact .contact_item .icon {
    height: 100px;
    width: 100px;
    margin-bottom: 2em;

}
#contact .contact_item .icon img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
#contact .contact_item .contact_info {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    align-self: center;
    margin-right: 5em;
    margin-left: 5em;

}
#contact .contact_item .contact_info h1{
    font-weight: 1000;
    margin-bottom: 2em;
    font-size: 25px;
}
#contact .contact_item .contact_info h2{
    margin: 0 20px;
    font-size: 15px;
}
#about .about{
    height: 100vh;
}
#about .about .about_right .about_h{
    font-size: 2.5rem;
}
#about .about .about_right p{
    font-size: 1.5em;
}


/* End of Contact Section */

 /* Footer Section */
 #footer .footer{
    height: 40vh;
    padding: 2em 0 0 0;
 }
 #footer .footer .foot_h{
    font-size: 2em;
 }
 #footer .footer .foot_p{
     font-size: 1.2em;
 }
 #footer .footer .foot_p2{
     font-size: .8rem;
     margin-bottom: 1rem;
 }
 /* End of Footer SEction */

    /* end of  Desktop */

    /* End of Media Querry section */

}